//color list  "ALL COLORS PROVIDED BY RESOUCE FILE GIVEN BY TREEHOUSE!!!"
$light-blue:#58e1c1;
$grey:#777777;
$light-grey:#ccc;
$lavender:#927bc1;
$cheaterorange:#fd7856;
$strawberry:#deb2ee;
$cheatblue:#7ee6fd;
$pastelgreen:#88d9a0;
$darkblue:#4da2bb;
$strawberry:#ec9fa3;
$pastelorange:#fd9f85;
$cheater:#e4757a;
$zeldagreen:#63cc82;
$pastelblue:#80e8d1;
$blueskys:#51ddfc;

//button for colors for @each function STACKOVERFLOW USED FOR FUNCTION!!
$buttons: (
 "default":$cheatblue ,
  "error":$zeldagreen ,
  "info":$cheater,
  "success":$cheaterorange,
  "warning":$lavender, 
);


//font-weights and media queries (MISSED THIS IN THE PROJECT PARAMETERS "Create a variable that stores the size of the media query breakpoint.")
$bold:700;
$light:300;

$small:768px;
$large:1400px;

